<nav class="navbar">
    <div class="container">
        <a href="{% url 'articles:article-list' %}" class="navbar-brand">Блог</a>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:profile' %}">Профіль</a></li>
                <li><a href="{% url 'accounts:logout' %}">Вийти</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Увійти</a></li>
                <li><a href="{% url 'accounts:signup' %}">Реєстрація</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
