<nav>
    <ul>
        <li><a href="{% url 'articles:article-list' %}">Головна</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:profile' %}">Мій профіль</a></li>
            <li>
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Вийти</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">Увійти</a></li>
            <li><a href="{% url 'accounts:signup' %}">Реєстрація</a></li>
        {% endif %}
    </ul>
</nav>
